html, body
  font-family: sans-serif
  line-height: 1.5em
  margin: 0
  padding: 0

body
  padding: 50px 0 150px 0

video
  width: 600px

iframe
  min-height: 500px
  width: 100%

.button
  background: #009ccc
  border-radius: 3px
  color: white
  display: inline-block
  font-size: 18px
  margin: 15px 0
  padding: 7px 15px
  text-align: center
  text-decoration: none

.center
  text-align: center

.subject-viewer
  clearfix()

.form, .video
  float: left
  width: 50%

.navigation
  clearfix()
  margin: 0 auto
  max-width: 1200px
  text-align: center

  .item
    display: inline-block

  a
    display: block
    padding: 3px 15px

#app
  margin: 0 auto
  max-width: 1200px

tr td:first-child
  text-align: center

tr td
  padding: 4px

tr:not(:last-child) td
  border-bottom: 1px solid #ccc

tr:nth-child(2n) td
  background: #fafafa
